// 后台框架尺寸
// 菜单宽度
$navMenu: 250px;
$navMenuMin: 64px;
// 主颜色
$mainColor: #f56c6c;

@mixin webkit($type, $value) {
  #{$type}: $value;
  -ms-#{$type}: $value; /* IE 9 */
  -moz-#{$type}: $value; /* Firefox */
  -webkit-#{$type}: $value; /* Safari 和 Chrome */
  -o-#{$type}: $value; /* Opera */
}

@mixin selectDom($width, $margin-left: $width, $align: "normal") {
  label {
    float: left;
    width: $width + px;
    line-height: 40px;
    text-align: $align;
  }
  .select-content {
    margin-left: $margin-left + px;
  }
}

@for $i from 1 to 100 {
  .margin-left-#{$i}
  {
    margin-left: $i + px;
  }
}

@for $i from 1 to 50 {
  .padding-bottom-#{$i}
  {
    padding-bottom: $i + px;
  }
}

.overflow-hidden {
  overflow: hidden;
}
.display_none {
  display: none;
}
.validator_text {
  position: absolute;
  display: block;
  color: red;
}